html {
  font: 100%,
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;

}

body {
  background-color: #c9b5ab;

}

h1, h2, h3, h4 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

nav {
  font-family: 'PT Sans', sans-serif;
}

nav ol li {
  color: #3f1622;
  list-style-type: none;
}


img {
  width: 100%;
  height: auto;
}


main figure {
  font-style: italic;
  text-align: center;
}

main div{
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  font-size: 0.8rem;
}

ol{
  list-style-type: lower-greek;
}
