html {
  font: 100%,
  font-size: 1.5rem;

}

body {
  background-color: #c9b5ab;

}

h1, h2, h3, h4 {
  font-family: sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}


main figure {
  font-style: italic;
  text-align: center;
}

main div{
  font-weight: bold;

}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  font-size: 0.8rem;
}

nav

p
